<!DOCTYPE html>
<html>
<head>
    <title>My First View!!</title>
</head>
<body>
  <form action="/" method="POST">
    <label for="id">ID:</label>
    <p><input type="text" name="id" id="id"></p>
    <input type="submit" value="Submit" id="submit">
  </form>
</body>
</html>