<!DOCTYPE html>
<html>
<head>
    <title>My First View!!</title>
</head>
<body>
  <form action="/posts" method="POST">
    <label for="name">Title:</label>
    <p><input type="text" name="name" id="name"></p>
    <p><input type="text" name="content" id="content"</p>
    <input type="submit" value="Submit" id="submit">
  </form>
</body>
</html>